.notes-board{
    border-radius: 15px;
    background-color: lightyellow;
    margin: 10px auto;
    width: 400px;
    height: 600px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    position: relative;
}

.notes-card{
    padding:10px;
    width:100%;
    position: absolute;
    top: 10%;
    left:0%;
    /* margin-right: -50%; */
    /* transform: translate(-50%,-50%); */
}

.notes-header{
    position:relative
}