.notes-list-board{
    border-radius: 15px;
    background-color: lightyellow;
    margin: 10px auto;
    width: 100%;
    height: 400px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    position: relative;
}

.notes-list-card{
    overflow: scroll;
    height: 90%;
    padding:10px;
    width:100%;
    position: absolute;
    top: 10%;
    left:0%;
    /* margin-right: -50%; */
    /* transform: translate(-50%,-50%); */
}

.notes-list-header{
    position:relative
}