img {
    height: 25px;
    object-fit: cover;
  }

.word-board{
    border-radius: 15px;
    background-color: lightyellow;
    margin: 10px auto;
    width: 400px;
    height: 200px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    position: relative;
}

.word-card{
    position: absolute;
    top: 50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
.vocab{
    font-size: 30px;
}

.translation{
    font-size: 20px;
}

.word-header{
    position:relative
}

.last-page-button{
    position: absolute;
    top:0;
    left:25%;
}

.next-page-button{
    position: absolute;
    top:0;
    right:25%;
}

.show-hide-button{
    position:absolute;
    top:0;
    left:50%;
    transform: translate(-50%,0);
}

.vocab-link{
    position: absolute;
    top:0;
    right:0;
}