.board{
    border-radius: 15px;
    background-color: lightyellow;
    margin: 25vh auto;
    width: 50%;
    height: 50vh;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    position: relative;
}

.word-card{
    position: absolute;
    top: 50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
.vocab{
    font-size: 30px;
}

.translation{
    font-size: 20px;
}